<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/jquery-ui.css' />
    <link rel='stylesheet' href='/stylesheets/notes.css' />
   <script src="/socket.io/socket.io.js"></script>
   <script src="javascripts/jquery-1.12.0.min.js"></script>
   <script src="javascripts/jquery-ui.min.js"></script>
   <script src="javascripts/widgets.js"></script>
  </head>
  <body>
  <div class ="dragme note yellow" style="width: 150px; height: 150px; padding: 0.5em"></div>
  <!-- <textarea id = "dragme" class ="note yellow" style="width: 150px; height: 150px; padding: 0.5em"></textarea> -->
	<!-- <div class="note yellow drag-item item-txt txt-static" id="1>" style="position:absolute; width:100px; height:100px; top:50px; left:10px; z-index:50;"> -->
	<!-- 	<textarea disabled style=" width:98px; height:48px;" name="text" id="text">Some text</textarea> -->
	<!-- </div> -->
  </body>
</html>
