.note {
	color: #333;
	position: relative;
	width: 100px;
	height: 100px;
	margin: 0 auto;
	padding: 20px;
	box-shadow: 0 10px 10px 2px rgba(0,0,0,0.3);
}

.yellow {
	background: #eae672;
}
.blue {
	background :#9bb4de;
}

.green {
	background : #71bd00;

}
